<div class="container">
  <br><br>
  <h1 class="header center blue-text text-lighten-2">Twittamir Putin</h1>
  <div class="row center">
    <h5 class="header col s12 light">A web app for retrieving, translating, and posting tweets</h5>
  </div>
  <div class="row center">
    <a href="/user_search" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">search by user</a>
    <a href="/keyword_search" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">search by keyword</a>
  </div>
  </div>
  <br><br>

</div>



<!-- <div id="title">
  <center>
  <h3>What do you want Twittamir to do?</h3>

  <a class="btn" href="/user_search">search by user</a>
  <a class="btn" href="/keyword_search">search by keyword(s)</a>
  </center>
</div> -->
