<div class="container">
  <br><br>
  <h1 class="header center blue-text text-lighten-2">Twittamir Putin</h1>
  <div class="row center">
    <h5 class="header col s12 light">A web app for retrieving, translating, and posting tweets</h5>
  </div>
  <div class="row center">
    <a href="/user_search" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">search by user</a>
    <a href="/keyword_search" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">search by keyword</a><br><br>
    <a href="/emoji" id="download-button" class="btn-large waves-effect waves-light red lighten-1">emojify</a>
    <a href="/emoji_tweet" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Moji dat tweet</a>
  </div>
  </div>
  <br><br>

</div>
