nav ul a,
nav .brand-logo {
  color: #444;
}

.main-body {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  margin-top: 5px;
}

.output {
  font-size: 2em;
}

nav a {
  color: #2196f3;
}

.button-collapse {
  color: #2196f3;
}

.material-icons {
  color: #2196f3;
}

.page-footer {
  color: white;
}

/* label color */
 .input-field label {
   color: #000;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ffc107;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #ffc107;
   box-shadow: 0 1px 0 0 #ffc107;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
