nav ul a,
nav .brand-logo {
  color: #444;
}

.main-body {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  margin-top: 5px;
}

.output {
  font-size: 3em;
}

nav a {
  color: #2196f3;
}

.button-collapse {
  color: #2196f3;
}

.material-icons {
  color: #2196f3;
}
